

<!--  * Create a button in `index.handlebars` that will submit the user input into the database. -->

<ul>
  {{#each burgerToEat}}
    <li>
      <p>Burger Name: {{burger_name}}</p>
      <p>Availale To Eat: {{devoured}}</p>
    </li>
  {{/each}}
</ul>
